.additional-product {
  &__title {
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
  }

  &__specs {
    font-family: $secondary-font;
    font-size: 14px;
    line-height: 14px;
  }
}
