.action-button {
  @include fs14-lh18($white);

  background-color: $primary-green;
  padding: 14px 26px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;

  &--inactive {
    color: $special-dark-grey;
    background-color: $primary-grey;
  }
}
