.action-button {
  @include fs14-lh18($white);

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $primary-green;
  text-transform: uppercase;
  text-decoration: none;
  border: none;

  &--inactive {
    color: $special-dark-grey;
    background-color: $primary-light-grey;
  }
}

@media (min-width: $tablet-breakpoint) {
  .action-button {
    @include fs20-lh20($white);

    &--inactive {
      color: $special-dark-grey;
    }
  }
}
