.header {
  &__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: $tablet-breakpoint) {
  .header {
    @include wrapper($tablet-breakpoint);

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-breakpoint) {
  .header {
    @include wrapper($desktop-breakpoint);
  }
}
