.menu-item {
  @include fs18-lh24();

  display: flex;
  align-items: center;
  justify-content: center;

  height: 66px;

  text-transform: uppercase;

  border-top: 1px solid $primary-darker-grey;

  &__link {
    color: $black;
    text-decoration: none;
  }

  &:last-child {
    margin-right: 0;
  }
}

@media (min-width: $tablet-breakpoint) {
  .menu-item {
    border-top: none;
  }
}
