.product-feature {
  &__description {
    @include fs14-lh18($special-dark-grey);

    font-family: $secondary-font;
    margin: 0;
  }
}

@media (min-width: $tablet-breakpoint) {
  .product-feature {
    width: 280px;
  }
}
