@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
}

$primary-font: "Oswald", "Tahoma", sans-serif;
$secondary-font: "Arial", sans-serif;

@mixin font($fontSize, $lineHeight, $color, $fontWeight) {
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $color;
  font-weight: $fontWeight;
}

@mixin fs12-lh12($color: $black, $fontWeight: "normal") {
  @include font(12px, 12px, $color, $fontWeight);
}

@mixin fs12-lh16($color: $black, $fontWeight: "normal") {
  @include font(12px, 16px, $color, $fontWeight);
}

@mixin fs14-lh14($color: $black, $fontWeight: "normal") {
  @include font(14px, 14px, $color, $fontWeight);
}

@mixin fs14-lh18($color: $black, $fontWeight: "normal") {
  @include font(14px, 18px, $color, $fontWeight);
}

@mixin fs14-lh20($color: $black, $fontWeight: "normal") {
  @include font(14px, 20px, $color, $fontWeight);
}

@mixin fs16-lh16($color: $black, $fontWeight: "normal") {
  @include font(16px, 16px, $color, $fontWeight);
}

@mixin fs16-lh18($color: $black, $fontWeight: "normal") {
  @include font(16px, 18px, $color, $fontWeight);
}

@mixin fs16-lh20($color: $black, $fontWeight: "normal") {
  @include font(16px, 20px, $color, $fontWeight);
}

@mixin fs16-lh24($color: $black, $fontWeight: "normal") {
  @include font(16px, 24px, $color, $fontWeight);
}

@mixin fs18-lh24($color: $black, $fontWeight: "normal") {
  @include font(18px, 24px, $color, $fontWeight);
}

@mixin fs20-lh20($color: $black, $fontWeight: "normal") {
  @include font(20px, 20px, $color, $fontWeight);
}

@mixin fs24-lh24($color: $black, $fontWeight: "normal") {
  @include font(24px, 24px, $color, $fontWeight);
}

@mixin fs24-lh26($color: $black, $fontWeight: "normal") {
  @include font(24px, 26px, $color, $fontWeight);
}

@mixin fs20-lh30($color: $black, $fontWeight: "normal") {
  @include font(20px, 30px, $color, $fontWeight);
}

@mixin fs24-lh37($color: $black, $fontWeight: "normal") {
  @include font(24px, 37px, $color, $fontWeight);
}

@mixin fs30-lh37($color: $black, $fontWeight: "normal") {
  @include font(30px, 37px, $color, $fontWeight);
}

@mixin fs36-lh36($color: $black, $fontWeight: "normal") {
  @include font(36px, 36px, $color, $fontWeight);
}

@mixin fs36-lh40($color: $black, $fontWeight: "normal") {
  @include font(36px, 40px, $color, $fontWeight);
}

@mixin fs60-lh60($color: $black, $fontWeight: "normal") {
  @include font(60px, 60px, $color, $fontWeight);
}
