<!DOCTYPE html>
<html lang="ru">
  {{> head }}

  <body>
    {{> header filename="catalog"}}

    <main>
      <section class="catalog">
        <h1 class="catalog__title">Каталог продукции</h1>
        <ul class="products-list">
          <li class="product products-list__item">
            <a href="#">
              <img
                class="product__picture"
                src="https://via.placeholder.com/150x150"
                width="68"
                height="86"
                alt="Корм Cat Energy PRO 500г"
              />
            </a>
            <a href="#">
              <h3 class="product__title">Cat Energy Pro 500г</h3>
            </a>
            <table class="product__description">
              <tbody>
                <tr>
                  <td>Масса</td>
                  <td>500г</td>
                </tr>
                <tr>
                  <td>Вкус</td>
                  <td>Курица</td>
                </tr>
                <tr>
                  <td>Цена</td>
                  <td>700р</td>
                </tr>
              </tbody>
            </table>
            <a href="#" class="action-button product__order-button">
              Заказать
            </a>
          </li>
          <li class="product products-list__item">
            <a href="#">
              <img
                class="product__picture"
                src="https://via.placeholder.com/150x150"
                width="84"
                height="100"
                alt="Корм Cat Energy PRO 1000г"
              />
            </a>
            <a href="#">
              <h3 class="product__title">Cat Energy Pro 1000г</h3>
            </a>
            <table class="product__description">
              <tbody>
                <tr>
                  <td>Масса</td>
                  <td>1000г</td>
                </tr>
                <tr>
                  <td>Вкус</td>
                  <td>Курица</td>
                </tr>
                <tr>
                  <td>Цена</td>
                  <td>1000р</td>
                </tr>
              </tbody>
            </table>
            <a href="#" class="action-button product__order-button">
              Заказать
            </a>
          </li>
          <li class="product products-list__item">
            <a href="#">
              <img
                class="product__picture"
                src="https://via.placeholder.com/150x150"
                width="68"
                height="86"
                alt="Корм Cat Energy PRO 500г"
              />
            </a>
            <a href="#">
              <h3 class="product__title">Cat Energy Pro 500г</h3>
            </a>
            <table class="product__description">
              <tbody>
                <tr>
                  <td>Масса</td>
                  <td>500г</td>
                </tr>
                <tr>
                  <td>Вкус</td>
                  <td>Рыба</td>
                </tr>
                <tr>
                  <td>Цена</td>
                  <td>700р</td>
                </tr>
              </tbody>
            </table>
            <a href="#" class="action-button product__order-button">
              Заказать
            </a>
          </li>
          <li class="product products-list__item">
            <a href="#">
              <img
                class="product__picture"
                src="https://via.placeholder.com/150x150"
                width="84"
                height="100"
                alt="Корм Cat Energy PRO 1000г"
              />
            </a>
            <a href="#">
              <h3 class="product__title">Cat Energy Pro 1000г</h3>
            </a>
            <table class="product__description">
              <tbody>
                <tr>
                  <td>Масса</td>
                  <td>1000г</td>
                </tr>
                <tr>
                  <td>Вкус</td>
                  <td>Рыба</td>
                </tr>
                <tr>
                  <td>Цена</td>
                  <td>1000р</td>
                </tr>
              </tbody>
            </table>
            <a href="#" class="action-button product__order-button">
              Заказать
            </a>
          </li>
          <li class="product products-list__item">
            <a href="#">
              <img
                class="product__picture"
                src="https://via.placeholder.com/150x150"
                width="68"
                height="86"
                alt="Корм Cat Energy Slim 500г"
              />
            </a>
            <a href="#">
              <h3 class="product__title">Cat Energy Slim 500г</h3>
            </a>
            <table class="product__description">
              <tbody>
                <tr>
                  <td>Масса</td>
                  <td>500г</td>
                </tr>
                <tr>
                  <td>Вкус</td>
                  <td>Гречка</td>
                </tr>
                <tr>
                  <td>Цена</td>
                  <td>400р</td>
                </tr>
              </tbody>
            </table>
            <a href="#" class="action-button product__order-button">
              Заказать
            </a>
          </li>
          <li class="product products-list__item">
            <a href="#">
              <img
                class="product__picture"
                src="https://via.placeholder.com/150x150"
                width="84"
                height="100"
                alt="Корм Cat Energy Slim 1000г"
              />
            </a>
            <a href="#">
              <h3 class="product__title">Cat Energy Slim 1000г</h3>
            </a>
            <table class="product__description">
              <tbody>
                <tr>
                  <td>Масса</td>
                  <td>1000г</td>
                </tr>
                <tr>
                  <td>Вкус</td>
                  <td>Гречка</td>
                </tr>
                <tr>
                  <td>Цена</td>
                  <td>700р</td>
                </tr>
              </tbody>
            </table>
            <a href="#" class="action-button product__order-button">
              Заказать
            </a>
          </li>
          <li class="product products-list__item">
            <a href="#">
              <img
                class="product__picture"
                src="https://via.placeholder.com/150x150"
                width="68"
                height="86"
                alt="Корм Cat Energy Slim 500г"
              />
            </a>
            <a href="#">
              <h3 class="product__title">Cat Energy Slim 500г</h3>
            </a>
            <table class="product__description">
              <tbody>
                <tr>
                  <td>Масса</td>
                  <td>500г</td>
                </tr>
                <tr>
                  <td>Вкус</td>
                  <td>Рис</td>
                </tr>
                <tr>
                  <td>Цена</td>
                  <td>500р</td>
                </tr>
              </tbody>
            </table>
            <a href="#" class="action-button product__order-button">
              Заказать
            </a>
          </li>
          <li class="product products-list__item products-list__item--last">
            <h3 class="product__title product__title--last">
              Показать еще 100500 товаров
            </h3>
            <p class="product__subtitle">На самом деле вкусов гораздо больше</p>
            <a
              href="#"
              class="product__order-button product__order-button--last"
            >
              Показать все
            </a>
          </li>
        </ul>
      </section>
      <section>
        <h2>Дополнительные товары</h2>
        <ul class="additional-products-list">
          <li class="additional-product additional-products__item">
            <h3 class="additional-product__title">Сахарозаменитель</h3>
            <table>
              <tbody>
                <tr>
                  <td>1 упаковка (100г)</td>
                  <td>200р.</td>
                </tr>
              </tbody>
            </table>
            <a href="#" class="action-button additional-product__order-button">
              Заказать
            </a>
          </li>
          <li class="additional-product additional-products__item">
            <h3 class="additional-product__title">Питьевая вода</h3>
            <table>
              <tbody>
                <tr>
                  <td>5 литров</td>
                  <td>50р.</td>
                </tr>
              </tbody>
            </table>
            <a href="#" class="action-button additional-product__order-button">
              Заказать
            </a>
          </li>
          <li class="additional-product additional-products__item">
            <h3 class="additional-product__title">Молоко</h3>
            <table>
              <tbody>
                <tr>
                  <td>1 литр</td>
                  <td>100р.</td>
                </tr>
              </tbody>
            </table>
            <a href="#" class="action-button additional-product__order-button">
              Заказать
            </a>
          </li>
          <li class="additional-product additional-products__item">
            <h3 class="additional-product__title">Витамины</h3>
            <table>
              <tbody>
                <tr>
                  <td>1 упаковка (30 г)</td>
                  <td>300р.</td>
                </tr>
              </tbody>
            </table>
            <a href="#" class="action-button additional-product__order-button">
              Заказать
            </a>
          </li>
        </ul>
      </section>
      <section>
        <h2 class="visually-hidden">Специальное предложение</h2>
        <div class="offer">
          <div class="offer__gift"></div>
          <p class="offer__description">
            Закажите все и получите чехол для кота в подарок!
          </p>
        </div>
      </section>
    </main>

    {{> footer filename="catalog"}}
  </body>
</html>
