<footer class="footer">
  <section class="contacts wrapper">
    <h2 class="contacts__title">
      Приглашаем к сотрудничеству дилеров!
    </h2>
    <address class="contacts__address">
      ул. Большая Конюшенная, д. 19/8 Санкт-Петербург
    </address>
  </section>
  <div class="map"></div>
  <section class="footer-links wrapper">
    <h2 class="visually-hidden">
      Наши контакты в соцсетях
    </h2>
    {{#internalLink
      filename=filename
      url="index.html"
      className="logo footer__logo"
    }}
      <img
        class="logo__title"
        src="https://via.placeholder.com/150x150"
        width="101"
        height="18"
        alt="Cat Energy"
      />
    {{/internalLink}}
    <ul class="social-links">
      <li class="social-link social-links__item">
        <a href="#" class="social-link__link social-link--vk">
          Vk
        </a>
      </li>
      <li class="social-link social-links__item">
        <a href="#" class="social-link__link social-link--insta">
          Insta
        </a>
      </li>
      <li class="social-link social-links__item">
        <a href="#" class="social-link__link social-link--fb">
          Fb
        </a>
      </li>
    </ul>
    <a
      href="https://htmlacademy.ru/intensive/adaptive"
      class="htmlacademy-logo"
    >
      <span class="htmlacademy-logo__title">
        HTML Academy
      </span>
      <img
        class="htmlacademy-logo__picture"
        src="https://via.placeholder.com/150x150"
        width="27"
        height="34"
        alt="Html Academy"
      />
    </a>
  </section>
</footer>
